<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="All test" verbose="1" >
    <test name="tema7.1" >
        <classes>
            <class name="loginTest" />
        </classes>
    </test>

    <test name="tema7.2">
        <classes>
            <class name="loginTest"/>
            <class name="HomePage"/>
        </classes>
    </test>


</suite>
